*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Josefin Sans';

}
.about-container{
    max-width:1440px;
    margin:0 auto;
}

// .ourHappyCustoms-container{
//     max-width: 1440px;
//     margin: 0 auto;
// }

// @media (max-width:768px;) {
//     .about-container{
//         max-width:768px;
//         margin: 0 auto;
//     }
// }