* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 10px auto;

}

.container .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.container .wrapper .box {
    border: 1px solid #d3cdcd;
}

.container .wrapper p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .wrapper del {
    font-weight: 100;
    font-size: 13px;
    margin-right: 5px;
}

.container .wrapper b {
    font-size: 20px;

}

.container .wrapper button {
    margin-top: 10px;
    align-items: center;
    background-color: transparent;
    border: 1px solid #a4a0a0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.container .wrapper .box button img {
    width: 20px;

}

.star {
    display: flex;

    justify-content: center;
}

.star1 {
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: gold;
}

.star2 {
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: #a4a0a0;
}

@media (min-width:0) and (max-width:429.9px) {
    .container {
        width: 100%;
    }

    .wrapper .box {
        width: 95%;
        margin: 10px auto;


    }

    .wrapper .box img {
        width: 100%;
    }

    .star {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:430px) and (max-width:746.9px) {
    .container {
        width: 100%;
    }

    .wrapper .box {
        width: 46%;
        margin: 10px auto;

    }

    .wrapper .box img {
        width: 100%;
    }

    .star {
        display: flex;
        justify-content: center;
    }
}


@media (min-width:747px) and (max-width:1200px) {
    .container {
        width: 100%;
    }

    .wrapper .box {
        width: 30%;
        margin: 10px auto;
    }

    .wrapper .box img {
        width: 100%;
    }

    .star {
        display: flex;
        justify-content: center;
    }
}