@import "./uzgaruvchi";

.boxs{
    margin-top: 60px;
    width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 0;

    .box1{
    
        width: 280px;
        text-align: center;
        padding: 10px 20px;
        background-color: $blue;
        position: relative;
        transition: 0.5s;
        width: 25%;

        p{
            width: 90%;
        }

        span{
            position: absolute;
            width: 30px;
            height: 30px;
            background-color:$blue;
            top: 60px;
            left: 275px;
            transform: rotate(45deg);
            z-index: 1;
            transition: 0.5s;
        }
    }
    .box1:hover{
        background-color: aquamarine;
    }
    .box1:hover span{
        background-color: aquamarine;
    }
    .box2{
        background-color: $primary;

        span{
            background-color: $primary;
        }
    }
    .box3{
        background-color: $danger;

        span{
            background-color: $danger;
        }
    }
    .box4{
        background-color: $rang1;

        span{
            display: none;
        }
    }
    .box5{
        background-color:$yellow;

        span{
            background-color: $yellow;
        }
    }
    .box6{
        background-color: $rang2;

        span{
            background-color: $rang2;
        }
    }
    .box7{
        background-color: $gold;

        span{
            background-color: $gold;
        }
    }
    .box8{
        background-color: $rang3;

        span{
            display: none;
        }
    }
 
}

 @media (min-width:0) and (max-width:360px) {
    .boxs{
        display: grid;
        grid-template-columns: 1fr ;

        .box1{
            width: 80%;
            margin: 0 auto;
            height: 300px;
            font-size: 40px;
        }
    }
 }

 @media (min-width:360.1px) and (max-width:740px){
    .boxs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;

        .box1{
            width: 90%;
            margin: 0 auto;

            span{
                display: none;
            }
        }
    }
 }

 @media (min-width:740.1px){
    .boxs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .box1{
            width: 90%;
            margin: 0 auto;
        }
    }
 }