

$primary: #258750;
$danger: #b63546;
$blue: #0060b9;
$rang1: #81a22c;
$yellow:yellow;
$gold:gold;
$rang2:rgb(212, 70, 181);
$rang3:rgb(50, 211, 214);

%placeholder{
    width: 266px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #676879;    
}